*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'helvetica', sans-serif;
}

body{
    background-color: #CBE2FD;
    margin: 0px;

    /* lost de pagina lengte op */
    overflow-y: hidden;
    overflow-x: hidden;
}

main {
    height: 0px;
}

/* Overdag */ 
body.overdag{
    background-color: #CBE2FD;
    animation-fill-mode: forwards;
}

/* Van gele lucht naar oranje lucht */
body.geeloranje{
    background-color: #FFE66E;
    animation-name: geeloranje;
    animation-delay: 7s;
    animation-duration: 20s;
    animation-fill-mode: forwards;

}

/* Overgang naar nacht */
body.overgang{
    background-color: #FF8962;
    animation-name: overgang;
    animation-delay: 0s;
    animation-duration: 40s;
    animation-fill-mode: forwards;

}

/* Nacht */
body.nacht{
    background-color: #033655;
}


@keyframes geeloranje {
  0%{
      background-color: #FFE66E;
  }
  100%{
      background-color: #FF8962;
  }

}

@keyframes overgang {
    /* Van roze naar donkere lucht*/
    0%{
        background-color: #FF8962;
    }

    50%{
        background-color: #3B1A52;
    }

    100%{
        background-color: #033655;
    }
}


.landschap{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;

}

/* animatie zon */
.zon{
    position: relative;
    z-index: -11;
    top: 50px;
    background-color: #ff8c1a;
    margin-left: 10%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 60px 5px #ff8c1a;
    animation:zonsondergang 30s  2s forwards;
}



@keyframes zonsondergang {
    100%{
        transform: translateY(750px);
    }
}

.maan{
    background-color: transparent;
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: -20px 10px white;
    margin-left: 15%;
    margin-top: -2%;
    opacity: 0;
    animation:nacht 40s 18s forwards;
}

/* maan wordt nu zichtbaar */
@keyframes nacht{
    100%{
        opacity: 1;
    }
}


/* Ruimteschip is nu beschikbaar en wordt bijna gelanceerd!*/
.ruimtefoto{
    width: 50px;
}

.ruimteschip{
    margin-left: 96%;
    margin-top: 300px;
    animation:ruimteschip 20s 5s forwards;
    opacity: 0;
}

@keyframes ruimteschip {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(60deg);
    }


    100%{
        transform: translate(-600px,-450px);
        opacity: 1; 
        
    }
}

#sky{
    width: 500px;
    position: absolute;
    z-index: -10;
    top: 10%;
}

/* wolken */

.cloud {
    position: absolute;
    background-image: url('https://www.dl.dropboxusercontent.com/s/31ivp5fsjcgytgp/cloud1.png');
    background-repeat: no-repeat;
    width: 176px;
    height: 114px;
}

#cloud1 {
    top: 100px;
    left: -20px;
    animation:movingclouds 60s linear infinite;
}

#cloud2 {
    top: -30px;
    left: -100px;
    animation: movingclouds 100s linear infinite;
}

#cloud3 {
    top: 50px;
    left: -50px;
    transform: scale(0.6);
    animation: movingclouds 80s linear infinite;
}

#cloud4 {
    top: -30px;
    left: -30px;
    transform: scale(0.8);
    animation: movingclouds 50s linear infinite;
}


@keyframes movingclouds {
    0% {
        margin-left: 100%;
        opacity: 0; 
     }
    100% {
        margin-left: -150%;
        opacity: 0.6; 
    }
}



/* ------- logo ------- */

figure{
    display: flex;
    justify-content: center;
}

img.logo{
    width: 30%;
}

/* tekst opmaak */ 

h1 {
    color: #fff;
    text-align: center;
    text-shadow: black 1px 0 35px;
    font-weight: 700;
    margin: 20px 0px 20px 0px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.8em;
    z-index: 2;

}

/* Opmaak van de titel */
#klok h2 {
    color: #fff;
    text-align: center;
    text-shadow: black 1px 0 35px;
    font-weight: 700;
    margin: 0px 20px 0px 20px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.8em;
    z-index: 2;

}

/* Opmaak GMT tekst */
#klok p{
    text-shadow: black 1px 0 35px;
}

/* ------- de klok ------- */


/* hoogte van de klok corrigeren*/
#klok{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 310px;
}

.container-tijd{
        transform: translate(0, 50%); 

} 

/* ------- Tekst onder titel over de tijd ------- */

#specifiek{
    text-align: center;
    margin: 20px 20px 0px 20px;
    position: relative;
    z-index: 2;
    color: white;
}

/* Positie van de klok en flex */

#klok #tijd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
}



/* Opmaak van de bovenste blokken tijd */
#klok #tijd div span{
    position: relative;
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #2C3F51;
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 3em;
    box-shadow: 0 0 0 1px rgba (0,0,0,.2);
}

/* Opmaak van de onderste blokken in woorden */
#klok #tijd div span:nth-child(2){
    padding: 10px;
    color: black;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
    background-color: #B9B9B9;
    text-transform: uppercase;
}

/* Seconden krijgt nu opacity van 0.8 */
#klok #tijd div:nth-last-child(1) span:nth-child(1){
    opacity: 0.9;
}

#klok #tijd div:nth-last-child(1) span:nth-child(2){
    opacity: 0.8;
}


}

/* ---------------- Media quaries ---------------------*/

@media (min-width: 600px){


/* Elementen worden groter */
#klok #tijd div span{
    width: 120px;
}

#klok h2{
    font-size: 1.0em;
}
}


@media (min-width: 800px){
    #klok h2{
    font-size: 1.1em;
}


@media (min-width: 800px){

/* positie veranderen, ruimteschip heeft nu meer ruimte*/
    .ruimteschip{
    margin-left: 96%;
    margin-top: 300px;
    animation:ruimteschip 8s 28s forwards;
    opacity: 0;
}

/* Beweging van het ruimteschip verloopt anders, doordat er meer ruimte is. */

@keyframes ruimteschip {
    100%{
        transform: translate(-1400px,-300px);
        opacity: 1;
    }
}

/* Bewegings breedte van de wolken en positie wordt verandert*/
#sky{
    width: 500px;
}

#cloud1 {
    left: 100px;
}

#cloud2 {
    left: 600px;
}

#cloud3 {
    left: 350px;
}

#cloud4 {
    left: 30px;
}

}

@media (min-width: 1100px){

}
