*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica', sans-serif;
}

body{
    background-color: #CBE2FD;
    margin: 0px;
    overflow-y: hidden;

}

body.overdag{
    background-color: #CBE2FD;
}

body.gelelucht{
    background-color: #FFE66E;
    animation: zonLaag 20s forwards;
}
body.oranjelucht{
    background-color: #FFC144;
    animation: lucht 20s 5s forwards;
}
body.goudenuur{
    background-color: #FF8962;
    animation: lucht 20s 5s forwards;
}
body.paarselucht{
    background-color: #3B1A52;
    animation: lucht 20s 5s forwards;
}

body.nacht{
    background-color: #033655;
    animation: lucht 20s 5s forwards;
} 

/* einde - */ 

@keyframes zonLaag {
    0%{
        background-color: #FFE66E;
    }
    100%{
        background-color: #FFC144;
    }
} 

@keyframes lucht {
    20%{
        background-color: #FFE66E;
    }
    45%{
        background-color: #FFC144;
    }
    65%{
        background-color: #FF8962;
    }
    80%{
        background-color: #3B1A52;
    }
    100%{
        background-color: #033655;
    }
} 

.landschap{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: -1
    
}

.zon{
    position: relative;
    z-index: -1;
    background-color: #ff8c1a;
    margin-left: 10%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 60px 5px #ff8c1a;
    animation:zonsondergang 60s forwards; 
}

@keyframes zonsondergang {
    100%{
        transform: translateY(750px);
    }
}

.maan{
    background-color: transparent;
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: -20px 10px white;
    margin-left: 10%;
    margin-top: -1%;
    opacity: 0;
    animation:nacht 17s 26s forwards;
}

.ruimteschip{
    position: absolute;
    visibility: hidden;
}

/* maan wordt nu zichtbaar */
@keyframes nacht{
    100%{
        opacity: 1;
    }
}


/* ------- logo ------- */

figure{
    display: flex;
    justify-content: center;
}

img.logo{
    width: 30%;
    padding-bottom: 10px;
}
/* ------- de klok ------- */

/* Opmaak van de titel */
#klok h2 {
    color: #fff;
    text-align: center;
    text-shadow: black 1px 0 25px;
    font-weight: 700;
    padding: 0px 20px 0px 20px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.8em;
    position: relative;
    z-index: 2; 

}

#klok p{
    text-shadow: black 1px 0 25px;
}

/* hoogte van de klok corrigeren*/
#klok{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        min-height: 500px;
        align-items: center;
}

/* ------- Tekst onder titel over de tijd ------- */

#specifiek{
    text-align: center;
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
    position: relative;
    z-index: 2; 
    color: white;
}

/* Positie van de klok en flex */

#klok #tijd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
}

.container-tijd{
    transform: translate(0, 12%);
}

/* Opmaak van de bovenste blokken tijd */
#klok #tijd div span{
    position: relative;
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #2C3F51;
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 3em;
    box-shadow: 0 0 0 1px rgba (0,0,0,.2);
}

/* Opmaak van de onderste blokken in woorden */
#klok #tijd div span:nth-child(2){
    padding: 10px;
    color: black;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
    background-color: #B9B9B9;
    text-transform: uppercase;
}

/* Seconden krijgt nu opacity van 0.8 */
#klok #tijd div:nth-last-child(1) span:nth-child(1){
    opacity: 0.9;
}

#klok #tijd div:nth-last-child(1) span:nth-child(2){
    opacity: 0.8;
}


}

/* ---------------- Media quaries ---------------------*/

@media (min-width: 600px){


/* Elementen worden groter */
#klok #tijd div span{
    width: 120px;
}

#klok h2{
    font-size: 1.0em;
}
}


@media (min-width: 800px){

    #klok h2{
    font-size: 1.1em;
}
}

@media (min-width: 800px){

}

@media (min-width: 1100px){

/* Ruimteschip is nu beschikbaar en wordt bijna gelanceerd!*/
.ruimtefoto{
    width: 50px;
}

.ruimteschip{
    visibility: visible;
    margin-left: 96%;
    margin-top: 300px;
    animation:ruimteschip 8s 28s forwards; 
    opacity: 0;
}

/* Beweging van het ruimteschip*/

@keyframes ruimteschip {
    100%{
        transform: translate(-1400px,-300px);
        opacity: 1;
    }
}
}

